/***************************************************************
    This file contains the styles for the applicant section
****************************************************************/

/***************************************************************
    Online Application 
****************************************************************/
#content-javascript
{
	color:Red;
	font-weight:bold;
	font-size:medium;
}

.onlineapp-buttons-div
{
	width:150px;
	float: right;
}

.onlineapp-info-div
{
	width:460px;
	padding:5px 10px 5px 10px;
}

.onlineapp-header-div{
	background-color:#73BA63;
	color:White;
	width:460px;
	margin-left:10px;
}

.onlineapp-long-container-div {
	margin-top:3px;
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	width:1024px;

	/*border:1px solid #818181;
	background:url(../../images/bg-onlineapp-container-div.png) repeat-y;*/
	position:relative;
}

.onlineapp-long-header-div{
	background-color:#73BA63;
	color:White;
	width:610px;
	margin-left:10px;
}

.onlineapp-long-info-div
{
	width:610px;
	padding:5px 10px 5px 10px;
}

.initialapp-error-message
{
	min-height:23px; 
    max-height:125px; 
    border: 1px solid #73BA63;
    background-color: #FFFACD;
    margin:0px 10px 10px 10px;
    padding: 7px 0px 0px 5px;
    font-weight:bold;
    font-size:13px;
    float:left;
}
.onlineapp-error-message
{
	min-height:23px; 
	border: 1px solid #73BA63;
	background-color: #FFFACD;
	margin:0px 10px 10px 10px;
	padding: 7px 0px 0px 5px;
	font-weight:bold;
	font-size:13px;
}

.onlineapp-error-message img
{
	float:left;
	padding-right:5px;
}


/********* START - Initial Details Confidential *********/
#content-main-three-column-printable {
	width:460px;
	float:left;
	margin-left:25px;
	
	}
	
#content-container-two-column-printable {
	margin-top:3px;
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	width:1024px;
	/* Main Border around content area*/
	/*border:1px solid #818181;
	background:url(../../images/bg-three-column-main.png) repeat-y right;*/ 
	position:relative;
	}	

/********* END - Initial Details Confidential *********/

/********* START - Biographical Details *********/

.biodetails-container-div 
{
	width:460px;
	position:relative;
	height:30px;
}

.biodetails-label-div {
	width:180px;
	float:left;
	padding-top: 5px;
	margin-left: 10px;
	height:30px;
}

.biodetails-label-full-div {
	width:440px;
	float:left;
	padding-top: 5px;
	margin-left: 10px;
	height:30px;
}

.biodetails-input-div 
{
	width:260px;
	float:left;
	height:30px;
}

.biodetails-input-div input
{
	margin:5px 10px 0px 0px;
}

.biodetails-input-div select
{
	margin:5px 10px 0px 0px;
}

.biodetails-input-div-marginleft
{
	width:260px;
	float:left;
	height:30px;
	margin-left:190px;
}

.biodetails-input-div-marginleft select
{
	margin-right:10px;
}

/*** Fin Aid ***/
#biodetails-finaid-label-div {
	width:410px;
	float:left;
	padding-top: 5px;
	margin-left: 10px;
	height:30px;
}

#biodetails-finaid-input-div
{
	margin-top:20px;
	width:20px;
	float: left
}

.biodetails-hidden-div
{
	width:440px;
	position:relative;
	height:30px;
	margin-left: 80px;
}

/********* END - Biographical Details *********/


/********* START - School History *********/

.schoolhist-container-div 
{
	width:460px;
	position:relative;
	height:30px;
}

.schoolhist-label-div {
	width:80px;
	float:left;
	padding-top: 7px;
	margin-left: 30px;
	height:30px;
}

.schoolhist-label-full-div {
	width:440px;
	float:left;
	padding-top: 5px;
	margin-left: 10px;
	height:30px;
}

.schoolhist-input-div 
{
	width:260px;
	float:left;
	height:30px;
}

.schoolhist-input-div input
{
	margin:5px 10px 0px 0px;
}

.schoolhist-input-div select
{
	margin:5px 10px 0px 0px;
}

.schoolhist-input-div-marginleft
{
	width:260px;
	float:left;
	height:30px;
	margin-left:190px;
}

#schoolhist-btnsearch-div
{
	width:450px;
	float:left;
	height:40px;
	margin-left:15px;
}

.schoolhist-grid-div
{
	width:430px;
	margin: 0px 0px 5px 30px;
}

#schoolhist-newschool-div
{
	width:130px;
	float:left;
	padding-top: 7px;
	margin-left: 30px;
}

/********* END - School History *********/


/********* START - Exam Detail *********/

#examdetail-long-column-main
{
	width:635px;
	float:left;
	margin-left:10px;
}

.examdetail-container-div 
{
	width:635px;
	position:relative;
	height:30px;
	margin-top: 20px;
	margin-left: 20px;
}

.examdetail-label-div {
	width:410px;
	float:left;
	padding-top: 7px;
	margin-left: 10px;
	height:30px;
	font-weight:bold;
}

.examdetail-input-div 
{
	width:120px;
	float:left;
	height:30px;
}

.examdetail-grid-div
{
	width:590px;
	margin: 0px 0px 5px 30px;
}

.examresult-grid-div
{
	width:590px;
	margin: 0px 0px 5px 30px;
}


/********* END - Exam Detail *********/

/********* START - Choice Detail *********/

#onlineapp-choices-container-div {
	margin-top:3px;
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	width:1024px;

	/*border:1px solid #818181;
	background:url(../../images/bg-onlineapp--choices-container-div.png) repeat-y;*/
	position:relative;
}

#onlineapp-long-column-main
{
	width:708px;
	float:left;
	margin-left:10px;
}

.onlineapp-full-header-div{
	background-color:#73BA63;
	color:White;
	width:698px;
	margin-left:10px;
}

.onlineapp-full-info-div
{
	width:688px;
	padding:5px 10px 5px 10px;
}

.choicedetails-container-div 
{
	width:600px;
	position:relative;
	height:30px;
	margin-left: 20px;
}

.choicedetails-label-div {
	width:150px;
	float:left;
	padding-top: 5px;
	margin-left: 10px;
	height:30px;
}

.choicedetails-input-div 
{
	width:150px;
	height:30px;
	float:left;
}

.choicedetails-grid-div
{
	width:675px;
	margin: 0px 0px 5px 30px;
}

.choicedetails-btn-div
{
	width:680px;
	float:left;
	height:40px;
	margin-left:15px;
}

/********* END - Choice Detail *********/


/********* START - UNISA Details *********/

.unisa-container-div 
{
	width:480px;
	position:relative;
	height:30px;
}

.unisa-label-div {
	width:200px;
	float:left;
	padding-top: 5px;
	margin-left: 10px;
	height:30px;
}

.unisa-input-div 
{
	margin: 0px;
	padding: 0px;
	width:270px;
	float:left;
	height:30px;
}

.unisa-input-div input
{
	margin:5px 10px 0px 0px;
}

.unisa-input-div select
{
	margin:5px 10px 0px 0px;
}

.unisa-input-div-marginleft
{
	width:290px;
	float:left;
	height:30px;
	margin-left:190px;
}

.unisa-long-label-div {
	width:300px;
	float:left;
	margin-left: 10px;
	height:30px;
	font-weight:bold;
}

.unisa-long-input-div 
{
	width:120px;
	float:left;
	height:30px;
}

/********* END - UNISA Details *********/

/********* START - Study History *********/

#onlineapp-choices-container-div {
	margin-top:3px;
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	width:1024px;

	/*border:1px solid #818181;
	background:url(../../images/bg-onlineapp--choices-container-div.png) repeat-y;*/
	position:relative;
}

#onlineapp-long-column-main
{
	width:720px;
	float:left;
	margin-left:10px;
}

.studyhist-container-div 
{
	width:600px;
	position:relative;
	height:30px;
	margin-left: 20px;
}

.studyhist-label-div {
	width:150px;
	float:left;
	padding-top: 5px;
	margin-left: 10px;
	height:30px;
}

.studyhist-long-label-div {
	width:470px;
	float:left;
	padding-top: 4px;
	margin-left: 10px;
	height:30px;
	font-weight:bold;
}

.studyhist-input-div 
{
	width:150px;
	height:30px;
	float:left;
}

.studyhist-long-input-div 
{
	width:120px;
	height:30px;
	float:left;
}

.studyhist-grid-div
{
	width:680px;
	margin: 0px 0px 5px 30px;
}

.studyhist-btn-div
{
	width:100px;
	float:left;
	height:40px;
	margin-left:15px;
}

.studyhist-hidden-div
{
	width:550px;
	position:relative;
	height:30px;
	margin-left: 180px;
}

.studyhist-error-div 
{
	width:250;
	float:left;
	padding-top: 5px;
	margin-left: 10px;
	height:30px;
}

/********* END - Study History *********/



/********* START - Summary Details *********/

.summary-container-div 
{
	width:600px;
	position:relative;
	height:20px;
}

.summary-bio-short-container-div-a
{
	width:320px;
	height:20px;
	float:left;
}

.summary-bio-short-container-div-b
{
	width:320px;
	height:20px;
	float:left;
}

.summary-NOKIntlHome-container-div
{
	width:600px;
	float:left;	
	height:20px;
}

.summary-NOKIntlWork-container-div
{
	width:600px;	
	float:left;
	height:20px;
}
.summary-NOKTelephone-container-div
{
	width:600px;	
	height:20px;
	float:left;
}
.summary-NOKIntlCell-container-div
{
	width:600px;
	height:20px;
	float:left;
}

.summary-NOKHome-input-div {
	width:200px;	
	float:left;
	height:20px;
	margin-left: 10px;
	font-weight:bold;
}
.summary-bio-long-container-div
{
	width:600px;
	height:20px;
}

#summary-postal-container-div 
{
	width:600px;
	position:relative;
	height:70px;
}

#summary-postalAdd-container-div 
{
	width:600px;
	position:relative;
	height:70px;
}

.summary-text-div
{
	width:650px;
	margin-left: 20px;
}

.summary-label-div {
	width:150px;
	float:left;
	margin-left: 10px;
}

.summary-bio-label-div {
	width:160px;
	float:left;
	margin-left: 10px;
	height:20px;
}

.summary-bio-input-div {
	width:120px;
	float:left;
	margin-left: 10px;
	height:20px;
	font-weight:bold;
}

.summary-input-div {
	width:300px;
	float:left;
	margin-left: 10px;
	height:20px;
	font-weight:bold;
}

.summary-short-input-div {
	width:130px;
	float:left;
	margin-left: 10px;
	height:20px;
	font-weight:bold;
}

.summary-grid-div
{
	width:680px;
	margin: 0px 0px 5px 30px;
}

.summary-btn-div
{
	width:100px;
	float:left;
	height:40px;
	margin-left:15px;
}

.summary-excl-label-div {
	width:250px;
	float:left;
	margin-left: 10px;
}

#summary-process-button-div
{
	width:708px;
	height:50px;
}

#summary-process-button-div input
{
	margin-left: 300px;
}

#process-button-div
{
	margin-left: 300px;
	display: block;
	width: 123px;
	height: 53px;
	background-image: url(../images/btnProcessMyApplication.png);
	background-repeat: no-repeat;
	background-position: 0 0px;
}

#process-button-div:hover
{
	cursor: pointer;
	background-position: -123px 0px;
}

#process-button-div:active
{
	background-position: -246px 0px;
}
#process-button-div span
{
	display:none
}


/********* END - Summary Details *********/



/********* START - Application Successful Details *********/

.appsucc-container-div 
{
	width:460px;
	position:relative;
	height:30px;
}

.appsucc-label-div {
	width:200px;
	float:left;
	padding-top: 5px;
	margin-left: 10px;
	height:30px;
}

.appsucc-input-div 
{
	width:200px;
	float:left;
	height:30px;
}

.appsucc-input-div-marginleft
{
	width:260px;
	float:left;
	height:30px;
	margin-left:190px;
}

.appsucc-long-label-div {
	width:300px;
	float:left;
	margin-left: 10px;
	height:30px;
	font-weight:bold;
}

.appsucc-long-input-div 
{
	width:120px;
	float:left;
	height:30px;
}

/********* END - Application Successful Details *********/


/********* START - Application Print CSS *********/
/***************************************************************
    This section allows print styles to be applied when printing 
	pages. All CSS files in the App_Themes directory are automatically 
	included in the of the document as tags. If one of these files is a print stylesheet 
	you don't get the opportunity to tell ASP.NET that the media attribute for the file 
	should be print, therefore @media is used to embed the styles for printing into the document.
    
****************************************************************/

@media print 
{
	#content-main-three-column-printable{
		display:block;
		color:Black;
		font-size:large;
		width:900px;
	}
	
	#content-container-two-column-printable{
		border : none;
		display:block;
	}
	
}


/********* END - Application Print CSS *********/